<!DOCTYPE html>
<html>
<head>
	<title>New Car Page</title>
</head>
<body>

	<h2>New Car Page</h2>

	<form action='/cars' method='POST'>
		Make: <input type="text" name="make"><br>
		Model: <input type="text" name="model"><br>
		Color: <input type="text" name="color"><br>
		Year: <input type="number" name="year"><br>
		Miles: <input type="number" name="miles"><br>
		<input type="submit">
	</form>

</body>
</html>